<%- include('partials/header.ejs') %>
<div class="my-5">
  <div class="p-5 text-center bg-body-tertiary">
    <div class="container py-5">
      <h1 class="text-body-emphasis">Full Stack Developer</h1>
      <p class="col-lg-8 mx-auto lead">
        I am a passionate full stack developer with experience in building dynamic and responsive web applications. My expertise lies in both front-end and back-end development, allowing me to create seamless user experiences and robust server-side functionalities.
      </p>
      <div class="d-flex flex-wrap gap-2 justify-content-center py-5">
        <% locals.skills.forEach(skill => { %>
        <span
          class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill"
        >
          <img
            class="rounded-circle me-1"
            width="45"
            height="45"
            src="<%= skill.icon %>"
            alt=""
          />
          <%= skill.name %>
        </span>
        <% }) %>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>
