<%- include('partials/header.ejs') %>
<div class="my-5">
  <div class="p-5 text-center bg-body-tertiary">
    <div class="container py-5">
      <h1 class="text-body-emphasis">Full Stack Developer</h1>
      <p class="col-lg-8 mx-auto lead">
        This takes the basic jumbotron above and makes its background
        edge-to-edge with a <code>.container</code> inside to align content.
        Similar to above, it's been recreated with built-in grid and utility
        classes.
      </p>
      <div class="d-flex flex-wrap gap-2 justify-content-center py-5">
        <span
          class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill"
        >
          <img
            class="rounded-circle me-1"
            width="24"
            height="24"
            src="https://github.com/mdo.png"
            alt=""
          />
          ReactJs
        </span>
        <span
          class="badge d-flex align-items-center p-1 pe-2 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill"
        >
          <img
            class="rounded-circle me-1"
            width="24"
            height="24"
            src="https://github.com/mdo.png"
            alt=""
          />
          ExpressJs
        </span>
        <span
          class="badge d-flex align-items-center p-1 pe-2 text-success-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill"
        >
          <img
            class="rounded-circle me-1"
            width="24"
            height="24"
            src="https://github.com/mdo.png"
            alt=""
          />
          NodeJs
        </span>
        <span
          class="badge d-flex align-items-center p-1 pe-2 text-danger-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill"
        >
          <img
            class="rounded-circle me-1"
            width="24"
            height="24"
            src="https://github.com/mdo.png"
            alt=""
          />
          Bootstrap
        </span>
        <span
          class="badge d-flex align-items-center p-1 pe-2 text-warning-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill"
        >
          <img
            class="rounded-circle me-1"
            width="24"
            height="24"
            src="https://github.com/mdo.png"
            alt=""
          />
          JavaScript
        </span>
        <span
          class="badge d-flex align-items-center p-1 pe-2 text-info-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill"
        >
          <img
            class="rounded-circle me-1"
            width="24"
            height="24"
            src="https://github.com/mdo.png"
            alt=""
          />
          HTML5
        </span>
        <span
          class="badge d-flex align-items-center p-1 pe-2 text-light-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill"
        >
          <img
            class="rounded-circle me-1"
            width="24"
            height="24"
            src="https://github.com/mdo.png"
            alt=""
          />
          CSS3
        </span>
        <span
          class="badge d-flex align-items-center p-1 pe-2 text-dark-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill"
        >
          <img
            class="rounded-circle me-1"
            width="24"
            height="24"
            src="https://github.com/mdo.png"
            alt=""
          />
          EJS
        </span>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>
