<%- include('partials/header.ejs') %>

  <form class="my-5 m-auto form-signin px-4" id="contactForm" style="max-width: 400px;">
    <img
      class="mb-4 rounded-circle"
      src="/images/profile.webp"
      alt=""
      width="70"
      height="70"
    />
    <h1 class="h3 mb-3 fw-normal">Contact Me</h1>
    <div class="form-floating mb-2">
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Enter your name"
        required
        name="name"
      />
      <label for="name">Name</label>
    </div>
    <div class="form-floating mb-2">
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="name@example.com"
        required
        name="email"
      />
      <label for="email">Email address</label>
    </div>
    <div class="form-floating mb-2">
      <textarea
        class="form-control"
        id="textAreaMessage"
        placeholder="Message"
        style="height: 100px"
        required
        min="25"
        name="message"
      ></textarea>
      <label for="textAreaMessage">Message</label>
    </div>
    <button class="btn btn-primary w-100 py-2" id="submitBtn" type="submit">Send Message</button>
  </form>

<%- include('partials/footer.ejs') %>
