<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="/images/profile.webp"
        class="d-block mx-lg-auto img-fluid rounded-circle"
        alt="Bootstrap Themes"
        width="700"
        height="400"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
        Hi, I'm Sahil Khan
      </h1>
      <p class="lead">
        A passionate Full-Stack Developer with expertise in creating dynamic
        and responsive web applications. Skilled in JavaScript, Node.js,
        Express, EJS, and modern front-end frameworks. Committed to
        delivering high-quality code and innovative solutions to meet client
        needs.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href='https://www.linkedin.com/in/shahil-khan-5594b9298/' target="_blank" class="btn btn-dark btn-lg px-4">
          LinkedIn
        </a>
        <a href='/assets/pdf/resume.pdf' download class="btn btn-outline-secondary btn-lg px-4">
          Download Resume
        </a>
      </div>
    </div>
  </div>
</div>
